.divgame {
    width: 100%;
    height: 90vh; /* Utilisez 100vh pour occuper toute la hauteur de l'écran */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.projectInfo{
    margin-left: 25px;
}