.divcontainer {
    padding: 5rem 0;
}

.subtitle {
    font-size: 35px;
    padding-bottom: 1rem;
}

.subjectname {
    width: 10%;
    left: 0%;
    font-size: 40px;
}

.firstsection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin: auto;
    margin-top: 1.5rem;
    height: 100%;

    .membercards {
        padding: 10px;
        width: 20%;
        background-color: var(--text-color);
        border-radius: 5px;

        .profilImage {
            width: 50%;
        }
        .ph4{
            margin: 1rem 0;
        }
        h3, h4, h5,
        p {
            border-radius: 20%;
            background-color: var(--text-color);
            color: var(--background);
        }

        .socialnetwork {
            background-color: var(--text-color);

            img {
                background-color: var(--text-color);
            }

            a {
                background-color: var(--text-color);
            }
        }
    }

    footer{
        margin-bottom: 50px;
    }
}