.divinfo_container {
    width: 100%;
    height: 100vh;

    .infodiv {
        border: 2px solid var(--text-color);
        min-width: 350px;
        border-radius: 1em;
        padding: 1rem;
        min-height: 700px;
    }

    .divcontainer {
        width: 100%;
        height: 100%;
        gap: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sectioninfo {
        display: flex;
        flex-direction: row nowrap;

        .link_btn {
            padding: 0.5em;
            cursor: pointer;
            background-color: var(--text-color);
            border: none;
            border-radius: 5px;
            width: 110px;
            color: var(--div-border);
            font-size: 1em;
        }

        .link_btn:hover {
            opacity: 0.8;
        }
    }

    .infotitle {
        padding: 2em;
        border-radius: 1em;
        background-color: var(--text-color);
        color: var(--div-border);
    }
}